
* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    background-color: #777777;
    background-image: url('file:///C:/Users/samysam/Documents/HW/HW2/Responsive-Portfolio/assets/images/background/pic3.jpg');
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    height: 900px;
}

header {
    background-color: #ffffff;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times 'Times New Roman', Times, serif, serif;
    width: 100%;
    height: 80px;
    border-bottom: 5px solid #ffffff;
    margin-bottom: 20px;
    margin-left: 200px;
    overflow: hidden;
    position: sticky;
   
    top: 0;
  }

  @media only screen and (max-width:600px) {
    footer {
        position: sticky;
    }
}
  
  footer {
    background-color: #666666;
    padding: 20px 0px;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    margin-left: 200px;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    bottom: 0;
}


.p { 
    background-color:#ffffff;
    color: #777777;
    width: 100%;
    height: 60%;
    text-align: justify;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: bold;
     line-height:35px;
     letter-spacing: 1px;
     margin-left: 200px;
     padding: 20px;
}

.p2 { 
    background-color:#ffffff;
    color: #777777;
    width: 100%;
    height: 80%;
    text-align: justify;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: bold;
     line-height:35px;
     letter-spacing: 1px;
     margin-left: 200px;
     padding: 20px;  

}

.p3 { 
    background-color:#ffffff;
    color: #777777;
    width: 100%;
    height: 80%;
    text-align: justify;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: bold;
     line-height:35px;
     letter-spacing: 1px;
     margin-left: 200px;
     padding: 20px;
}
    

.pbox { 
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #666666;
   
}

/* index nav bar */
.sbm {
    width: 200px;
    height: 80px;
    top: 20px;
    left: 200px;
    bottom: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    float: left;
    padding-top: 25px;
    
}
.sbm:hover {
    background-color: black;
}
.about {
    position: relative;
    left: 240px;
    text-decoration: none;
    border-style: solid;
    border-color: #666666;
    border-width: 0px 3px 0px 0px;
    color: #666666;
    padding-right: 20px;

    font-weight: bold;
    top: 25px;
  
   } 
   .about:hover {
       font-size: 40px;
       color: #4aaaa5;
       border-style: dashed;
    border-color: #666666;
    border-width: 0px 3px 0px 0px;
   }

   .portfolio:hover {
    font-size: 40px;
    color: #4aaaa5;
    border-style: dashed;
    border-color: #666666;
    border-width: 0px 3px 0px 0px;
   }

    .contact:hover {
        font-size: 40px;
        color: #4aaaa5;
      

       
 
}


.portfolio {
    position: relative;
    left: 255px;
    top: 25px;
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    border-style: solid;
    border-color: #666666;
    border-width: 0px 3px 0px 0px;
    padding-right: 20px;
} 

.contact {
    position: relative;
    left: 250px;
    top: 25px;
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    padding-left: 20px;
 

}

.aboutme {
    right: 20px;
    bottom: 10px;
    color: #4aaaa5;
    font-size: 30px;
    padding: 20px;
    text-align: left;
}

.aboutme:hover {
    font-size: 125px;
}

portfolio {
    text-align: right;

} 




/* bottom button */
button {
   position: relative;
   left: 200px;
}

.button {
    text-decoration: none;
    color: blue;
    background-color: black;
    font-size: 35px;
}

.button:hover {
    color: purple;
    opacity: .75;
    font-size: 150px;
    background-color: black;
}

.button:focus {
    color: blue;
}







#message {
    padding: 80px;
}

label {
    float: left;
}


.row {
    float: left;
}




.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}













